<div class="wideRow">

	<input type="text" class="itemWide" id="newtip" name="newtip vale="tip.text" placeholder="Tip" autocomplete="off" />
	
    <a href="/goback"><button type="button">Cancel</button></a>

    <input type="submit" value="Save" >
</div>